/* obsidian css */
/* https://github.com/Dmytro-Shulha/obsidian-css-snippets/tree/master/Snippets */
/* obsidianate css */
/* https://github.com/Dmytro-Shulha/obsidian-css-snippets/blob/master/Snippets/Check%20box.md */

:root {
  /* https://colorhunt.co/palette/f0eabe21e1e13b9ae13120e0 */
  --color-beige: #f0eabe;
  --color-sky: #21e1e1;
  --color-sky-90: rgba(33, 225, 225, 0.9);
  --color-sky-85: rgba(33, 225, 225, 0.85);
  --color-sky-80: rgba(33, 225, 225, 0.8);
  --color-sky-75: rgba(33, 225, 225, 0.75);
  --color-sky-50: rgba(33, 225, 225, 0.5);

  --color-blue: #3b9ae1;
  --color-blue-50: rgba(59, 154, 225, 0.5);
  --color-purple: #3120e0;
  --color-purple-80: rgba(49, 32, 224, 0.8);
  --color-purple-50: rgba(49, 32, 224, 0.5);
  --color-black: #100e17;

  --linear-main: linear-gradient(
    -60deg,
    var(--color-sky) 0%,
    var(--color-purple) 100%
  );
}

@keyframes scrollshine {
  /* 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */
  to {
    background-position: 100%;
  }
}

.theme-dark {
  --text-accent: var(--color-sky);
  --text-normal: var(--color-beige);

  /* --background-secondary: var(--color-purple); */

  --text-title-h2: var(--color-sky-90);
  --text-title-h3: var(--color-sky-85);
  --text-title-h4: var(--color-sky-80);
  --text-title-h5: var(--color-sky-75);

  --text-faint: var(--color-sky);
  --bg-sub-accent-55: var(--color-blue-50);

  --background-modifier-border: var(--text-accent);
  --editor-border-color: var(--text-accent);
}
/* custom */

.suggestion-hotkey {
  background-color: var(--color-purple) !important;
}
.suggestion-item.is-selected {
  background-color: var(--color-purple) !important;
}
.suggestion-item.is-selected .suggestion-hotkey {
  background-color: var(--background-secondary) !important;
}

/* link []  opacity */
.cm-s-obsidian span.cm-formatting-link {
  opacity: 1;
}
/* link ()  opacity */
.cm-url {
  opacity: 1;
}

/* editor link */
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-url {
  color: var(--color-sky);
}

/* editor checkbox background-color */
input[type="checkbox"] {
  /* appearance: none; */
  /* appearance: checkbox; */
  /* accent-color: var(--color-purple); */
  position: relative;
  top: -1px;
  width: 20px;
  height: 20px;
  accent-color: var(--color-blue);
}

.contains-task-list .task-list-item::before {
  top: 5px;
}
.contains-task-list .is-checked.task-list-item::after {
  top: 12px;
}

/* strong linear-gradient */
.cm-strong,
strong {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 500%;

  transition: 5s linear;
  background-image: var(--linear-main) !important;

  animation: 3s linear 0s infinite alternate-reverse scrollshine;
}

.side-dock-ribbon {
  border-left: 1px solid var(--color-sky);
}

.nav-folder-children .nav-folder-children {
  border-radius: 4px;
  border: 1px solid var(--color-black);
}
.nav-folder-children .nav-folder-children:hover {
  border-radius: 4px;
  border: 1px solid var(--color-purple);
}

.nav-folder-children .nav-folder-title-content {
  border: 1px solid var(--color-sky-50);
}
.nav-folder-children .nav-folder-title-content:hover {
  border: 1px solid var(--color-sky);
}

.nav-folder-children .nav-file-title-content {
  border: 1px solid var(--color-purple);
}

.workspace-tab-header-container {
  height: 36px;
  border-bottom: 1px solid var(--color-sky);
}

.workspace-tabs {
  border-left: 1px solid var(--color-sky);
  border-right: 1px solid var(--color-sky);
}

.nav-folder.mod-root {
  border-top: 1px solid var(--color-sky) !important;
}
/*  */
.workspace {
  border-bottom: 1px solid var(--color-sky);
}
.workspace-leaf {
  border-top: 1px solid var(--color-black) !important;
  border-left: 1px solid var(--color-sky) !important;
  border-right: 1px solid var(--color-sky) !important;
  border-bottom: 1px solid var(--color-sky) !important;
}
/* .workspace-leaf.mod-active {
  border-top: 1px solid var(--color-sky) !important;
  border-left: 1px solid var(--color-sky) !important;
  border-right: 1px solid var(--color-sky) !important;
  border-bottom: 1px solid var(--color-sky) !important;
} */

::-webkit-scrollbar {
  width: 0px;
}

/* .workspace-leaf-content[data-type="search"] {
  background-color: red;
  border: 1px solid red;
} */
